<div class="err">
  <%= error_messages_for :registration %>
  <%= error_messages_for :user %>
</div>

<% @create = @registration.new_record? %>

<% form_tag :action => (@create ? :create_registration : :update_registration) do %>

  <fieldset>

    <legend>Admin Info</legend>

     <input type="hidden" id="id" name="id" value="<%= @registration.id %>"/>
     <input type="hidden" id="user_id" name="user_id" value="<%= @user.id %>"/>

     <% if @user.new_record? %>
     <p>
          <label for="user_email" class="col1">Email Address<span class="req">*</span></label>
          <%= text_field 'user', 'email', :size => 50 %>
     </p>
     <% end %>
  
     <p>
        <label for="registration_amount_paid" class="col1">Amount Paid</label>
        <%= text_field 'registration','amount_paid', :size => 5 %>
     </p>

     <p>
        <label for="registration_amount_owed" class="col1">Amount Owed</label>
        <%= text_field 'registration','amount_owed', :size => 5 %>
     </p>
  </fieldset>


  <%= render :partial => 'registration/form' %>

  <%= submit_tag((@create ? "Create Registration" : "Update Registration"), :class => "Submit") %>

<% end %>

<%= link_to 'Back to registration list', :action => 'list_registration' %>
