<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <title>Florida Mens Bible Study<%= " - #{@title}" if @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= stylesheet_link_tag 'buckit', :media => 'all' %>
    <%= javascript_include_tag 'logo' %>
    <%= javascript_include_tag 'focus' %>
    <%= javascript_include_tag 'sorttable' %>
  </head>
  <body>

   <div id="header">
      <span class="logotxt altcolor">Florida Mens <span class="primcolor">Bible</span> Study</span>

      <ul id="topnav">
        <li><%= link_to_unless_current 'Home', :controller => 'welcome', :action => 'index' %></li>
        <li>|</li>
        <li><%= link_to_unless_current 'Bios', :controller => 'welcome', :action => 'bios' %></li>
        <li>|</li>
        <li><%= link_to_unless_current 'Faq', :controller => 'welcome', :action => 'faq' %></li>
        <li>|</li>
	<li><%= link_to_unless_current 'Contact', :controller => 'welcome', :action => 'contact' %></li>
        <li>|</li>
	<li><%= link_to_unless_current 'Register', :controller => 'registration', :action => 'register' %></li>
        <li>|</li>
	<li><%= link_to_unless_current 'Audio', :controller => 'audio', :action => 'index' %></li>
      </ul>
   </div>

   <p style="color: green"><%= flash[:notice] %></p>

   <div id="content">
     <%= yield %>
   </div>

   <div id="footer">
      http://www.<span class="primcolor">florida</span><span class="altcolor">bible</span><span class="primcolor">study</span>.org/
   </div>
 </body>
</html>
